In [2]:
"(i) String:"

'(i) String:'

In [3]:
my_string = "Hellow, asis"

In [5]:
"(ii) List:"

'(ii) List:'

In [6]:
my_list = [5, 10, 15, 20, 25]

In [7]:
"(iii) Float:"

'(iii) Float:'

In [8]:
my_float = 3.14

In [9]:
"(iv) Tuple:"

'(iv) Tuple:'

In [11]:
my_tuple = (20,'asis',35.33,[30,77,88])

In [13]:
type ( my_tuple)

tuple

In [15]:
#02

In [22]:
var1 = '' ## String

In [23]:
var2 = ['DS', 'ML', 'Python'] ##String with list

In [21]:
var3 = ['DS', 'ML', 'Python'] ##List

In [20]:
var4 = 1 ## Integer

In [5]:
x=3

In [6]:
y=3

In [7]:
result = x/y ## / is use for dividing operand

In [8]:
print(result)

1.0

In [13]:
A=5

In [17]:
B=10

In [18]:
Result = A**B

In [19]:
print(Result) ## **Exponent operator is used for calculation of exponential power 5*5*5*5*5*5*5*5*5*5= 9765625 A**B

9765625

In [20]:
##percentile (%) operator it use for finding out divide reminder

In [21]:
x= 20

In [24]:
y = 10

In [25]:
print(x%y)

0

In [26]:
## // floor division operator

In [27]:
x = 50

In [28]:
y= 20

In [30]:
x // y

2

In [31]:
##in the above program ,actual value that we get is 2.5 but we use // floor division operator it had to adjust it to the left side 2.5 to 2

In [2]:
my_list = [42, "Hello , asis", 3.14, True, [1, 2, 3], {"name": "Akash", "age": 22},False]

In [10]:
for a in my_list:
    print(a,type(a))

42 <class 'int'>
Hello , asis <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
{'name': 'John', 'age': 25} <class 'dict'>
False <class 'bool'>

In [11]:
A = 100
B = 5
count = 0

while A % B == 0:
    A = A / B
    count += 1

print("Number A is divisible by number B", count, "times.")

Number A is divisible by number B 2 times.

In [13]:
my_list = [11, 20, 24, 45, 52, 60, 72, 82, 92, 109, 120, 127, 131, 144, 157, 162, 177, 182, 195, 206, 213, 224, 236, 249, 251]

for number in my_list:
    if number % 3 == 0:
        print(number, "is divisible by 3.")
    else:
        print(number, "is not divisible by 3.")

11 is not divisible by 3.
20 is not divisible by 3.
24 is divisible by 3.
45 is divisible by 3.
52 is not divisible by 3.
60 is divisible by 3.
72 is divisible by 3.
82 is not divisible by 3.
92 is not divisible by 3.
109 is not divisible by 3.
120 is divisible by 3.
127 is not divisible by 3.
131 is not divisible by 3.
144 is divisible by 3.
157 is not divisible by 3.
162 is divisible by 3.
177 is divisible by 3.
182 is not divisible by 3.
195 is divisible by 3.
206 is not divisible by 3.
213 is divisible by 3.
224 is not divisible by 3.
236 is not divisible by 3.
249 is divisible by 3.
251 is not divisible by 3.

In [1]:
 ##the list my_list contains 25 integers. The for loop iterates over each element of the list. Inside the loop, an if-else condition is used to check if each element is divisible by 3 or not (num % 3 == 0). If the condition is true, it prints that the element is divisible by 3; otherwise, it prints that the element is not divisible by 3.

In [2]:
##Immutable data types are those whose values cannot be changed after they are created. Whenever you perform an operation that appears to modify an immutable object, it actually creates a new object with the updated value. Some examples of immutable data types in Python include:

In [3]:
##Integer: Once an integer is assigned a value, it cannot be changed. For example:
x = 5
x += 1  # This creates a new integer object with the value 6
print(x)  # Output: 6

6

In [4]:
##Float: Similar to integers, floats are immutable. Once a float is assigned a value, it cannot be changed.
y = 3.14
y = y + 1.0  # This creates a new float object with the value 4.14
print(y)  # Output: 4.14

4.140000000000001

In [7]:
##String: Strings are also immutable in Python. If you try to modify a string, it creates a new string object with the updated value.
message = "Hello"
message += ", asis!"  # This creates a new string object with the value "Hello, asis!"
print(message)  # Output: Hello, asis!

Hello, asis!

In [8]:
##mutable data types are those whose values can be modified after they are created. Changes made to a mutable object directly affect the object itself, without creating a new object. Examples of mutable data types in Python include:

In [9]:
##List: Lists are mutable and can be modified by adding, removing, or modifying elements

In [10]:
my_list = [1, 2, 3]
my_list.append(4)  # Modifies the list by adding a new element
print(my_list)  # Output: [1, 2, 3, 4]

my_list[1] = 5  # Modifies the list by changing the value of an element
print(my_list)  # Output: [1, 5, 3, 4]

[1, 2, 3, 4]
[1, 5, 3, 4]

In [11]:
##Dictionary: Dictionaries are mutable and allow you to add, remove, or modify key-value pairs.

In [12]:
my_dict = {"name": "John", "age": 25}
my_dict["age"] = 26  # Modifies the value associated with the "age" key
print(my_dict)  # Output: {'name': 'John', 'age': 26}

my_dict["city"] = "New York"  # Modifies the dictionary by adding a new key-value pair
print(my_dict)  # Output: {'name': 'John', 'age': 26, 'city': 'New York'}

{'name': 'John', 'age': 26}
{'name': 'John', 'age': 26, 'city': 'New York'}

In [13]:
##Set: Sets are mutable and allow you to add or remove elements.